<div>
    <h1>Chat Realtime</h1>
    <h3 id="messageFromServer"></h3>
    <input type="text" name="" id="chatBox">
    <h4 id="messages"></h4>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>