<h2>Cambie su contraseña</h2>

<form action="" id="formReset">
  <label for="newPassword1">Nueva contraseña</label>
  <input type="password" name="newPassword1">


  <label for="newPassword2">Reescriba su contraseña</label>
  <input type="password" name="newPassword2">

  <button type="submit">Cambiar</button>
  <div>
  <a href="/login"><button type="button">Volver</button></a>
  </div>
</form>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reset.js"></script>