<h2>Login</h2>

<form action="" id="formLogin">
  <label for="">Usuario</label>
  <input type="email" name="email">


  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Iniciar Sesión</button>
  <div>
    <a href="/auth/github"><button type="button">Entrar con Github</button></a>
  </div>
  <div>
  <a href="/signup"><button type="button">Registrar</button></a>
  </div>
  <div>
  <a href="/recovery/"><button type="button">Recuperar contraseña</button></a>
  </div>
</form>

<script src="/js/login.js"></script>