<h2>TodoCompras <i class="fa-solid fa-cart-shopping"></i></h2>

<form action="" id="formLogin" class="container">
  <label for="">Usuario</label>
  <input type="email" name="email">


  <label for="">Contraseña</label>
  <input type="password" name="password">

  <div class="login-buttons">
    <div  class="login">
      <button type="submit">Iniciar Sesión</button>
    </div>
    <div  class="github">
   <a href="/auth/github"> <button type="button">  <i class="fa-brands fa-github"></i> Ingresar con Github</button></a>
    </div>
    <div class="login">
      <a href="/signup">Registrar</a>
    </div>
    <div  class="login">
      <a href="/recovery/">Recuperar contraseña</a>
    </div>
</form>

<script src="/js/login.js"></script>