<h2>Profile</h2>

<label for="">Nombre</label>
<p>{{user.first_name}}</p>
<br>

<label for="">Apellido</label>
<p>{{user.last_name}}</p>
<br>

<label for="">Correo</label>
<p>{{user.email}}</p>
<br>
<label for="">Rol</label>
<p>{{user.rol}}</p>
<br>
<h1><a href="/products">Volver</a></h1>