  <h2 class="h2-center">Profile</h2>
<div class="container">

  <div class="profile-info">
    <label class="form-label" for="">Nombre</label>
    <p class="profile-value">{{user.first_name}}</p>
  </div>

  <div class="profile-info">
    <label class="form-label" for="">Apellido</label>
    <p class="profile-value">{{user.last_name}}</p>
  </div>

  <div class="profile-info">
    <label class="form-label" for="">Correo</label>
    <p class="profile-value">{{user.email}}</p>
  </div>

  <div class="profile-info">
    <label class="form-label" for="">Rol</label>
    <p class="profile-value">{{user.role}}</p>
  </div>

    <div  class="login">
   <a href="/products"> <button type="button">Volver</button></a>
    </div>
</div>
