<h2>Recuperar contraseña</h2>

<form action="" id="formRecovery">
  <p>Por favor ingrese su correo electrónico</p>
  <label for="to">Correo</label>
  <input type="email" name="to">
  <button type="submit">Enviar solicitud</button>
</form>
    <a href="/login"><button type="button">Volver</button></a>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/recovery.js"></script>